<div class="timeline-container">
    <div class="timeline">
      <div class="timeline-line">
         <!-- Flag element -->
      <div class="flag">
        <div class="flag-line"></div>
        <div class="flag-box"></div>
        <span>Text here</span>
      </div>
         <!-- Flag element -->
         <div class="flag2">
          <div class="flag2-line"></div>
          <div class="flag2-box"></div>
          <span>Text here</span>
        </div>
      </div>
      <div class="timeline-progress" [style.width.%]="progress"></div>
      <div class="timeline-event" 
           *ngFor="let event of timelineEvents; let i = index" 
           [class.active]="i <= activeIndex"
           >
          <div class="event-date">{{ event.date }}</div>
          <!-- Percentage Event Circle -->
        <div class="event-circle percentage" *ngIf="this.timelineEvents[i].index == 8">
          <div>{{completePercentage}}%</div>
          <i *ngIf="(!(this.timelineEvents[i].index == 8))" [class]="event.icon"></i>
        </div>
        <!-- Other Event Circles -->
        <div class="event-circle" *ngIf="(!(this.timelineEvents[i].index == 8))">
          <i [class]="event.icon"></i>
        </div>
        <div class="event-date" *ngIf="this.timelineEvents[i].index == 8">Done</div>
        <div class="event-date" *ngIf="!(this.timelineEvents[i].index == 8)">{{ event.date }}</div>
      </div>
    </div>
    
  
    <div class="event-details" *ngIf="activeEvent">
      <div class="event-title">{{ activeEvent.title }}</div>
      <div class="event-description">{{ activeEvent.description }}</div>
      <button *ngIf="progress != 100" (click)="markAsComplete(activeIndex)">Mark as Complete</button>
    </div>
    
  </div>
  