<div class="timeline-container">
    <div class="timeline">
      <div class="timeline-line"></div>
      <div class="timeline-progress" [style.width.%]="progress"></div>
      <div class="timeline-event" 
           *ngFor="let event of timelineEvents; let i = index" 
           (click)="setActiveEvent(i)"
           [class.active]="i <= activeIndex">
            <div class="event-date">{{ event.date }}</div>
        <div class="event-circle">
          <i [class]="event.icon"></i>
        </div>
        <div class="event-date">{{ event.date }}</div>
      </div>
    </div>
  
    <div class="event-details" *ngIf="activeEvent">
      <div class="event-title">{{ activeEvent.title }}</div>
      <div class="event-description">{{ activeEvent.description }}</div>
      <button (click)="markAsComplete(activeIndex)">Mark as Complete</button>
    </div>
    
  </div>
  